
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.circle{

    width: 450px;
    height: 750px;
    background-color: #FAD007;
    filter: blur(260px);
}



html {
    box-sizing: border-box;
  }
  
  body {
    font-family: helvetica;
  }
  
  a {
    text-decoration: none;
    color: gray;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  /*   border: 1px solid red; */
  }
  
  .fixed-nav-bar {
    position: fixed;
    align-items: flex-end;
    justify-content: flex-end;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    
    background-color: black;
    
    display: flex;
    line-height: 50px;
  }



  

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  
  
  
  

@media (max-width:880px) {
    .navbar{
        overflow-x:hidden;
    }
    
}